<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    .btn-edit {
        outline: none;
        border: none;
        background-color: orange;
        height: 22px;
        width: 55px;
        border-radius: 8px;
        cursor: pointer;
        margin: 3px 1px;
    }

    .btn-delete {
        outline: none;
        border: none;
        background-color: red;
        height: 22px;
        width: 55px;
        border-radius: 8px;
        cursor: pointer;
        margin: 3px 1px;
    }
</style>

<body>
    <table style="width:100%">
        <tr>
            <th>Email</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Address</th>
            <th>Actions</th>
        </tr>

        <% for(var i=0; i < DataTable.length; i++) { %>
            <tr>
                <td>
                    <%= DataTable[i].email %>
                </td>
                <td>
                    <%= DataTable[i].firstName %>
                </td>
                <td>
                    <%= DataTable[i].lastName %>
                </td>
                <td>
                    <%= DataTable[i].address %>
                </td>
                <td>
                    <a href="/edit-crud?id=<%= DataTable[i].id %>" class="btn-edit" type="button">Edit</a>
                    <button class="btn-delete" type="button">Delete</button>
                </td>

            </tr>
            <% } %>

    </table>
</body>

</html>